* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('/img/cinema.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#logo {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
}

#logo img {
  width: 35px;
  vertical-align: middle;
}

#navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 1em 4em;
  background: linear-gradient(to right, #5e1111, #2e0e0c);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #fcb249 0.5px solid;
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li {
  margin-left: 1em;
}

#navbar ul li a {
  text-decoration: none;
  color: white;
}

#navbar ul li a:hover {
  text-decoration: none;
  color: #fcb249;
}

#main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

#footer {
  width: 100%;
  background: linear-gradient(to right, #5e1111, #2e0e0c);
  color: #fff;
  text-align: center;
  padding: 1em 0em;
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 1em;
  letter-spacing: 1px;
  border-top: #fcb249 0.5px solid;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
}

.stars {
  font-size: 2.5em;
  color: black;
  cursor: default;
}

.form {
  width: 450px;
  background: linear-gradient(to right, #fcb249, #fdcb6c);
  padding: 0.5rem 0.5rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 25px 0px 25px;
  border: 5px solid black;
  outline: 8px solid #fdcb6c;
  box-shadow: 14px 8px 20px 10px #fcb14977;
}

.form-group {
  position: relative;
  margin-bottom: 1.2em;
  width: 100%;
}

.form-group input {
  width: 100%;
  padding: 0.8em 0.5em 0.5em 0.5em;
  /* altura menor */
  border: 1px solid #fdcb6c;
  border-radius: 8px;
  background: #fdcb6c;
  color: #000;
  font-size: 1em;
  outline: none;
  transition: border-color 0.2s;
  height: 2.5em;
  /* altura menor */
}

.form-group label {
  position: absolute;
  left: 0.7em;
  top: 0.9em;
  background: transparent;
  pointer-events: none;
  transition: 0.2s;
  font-size: 1em;
}

.form-group input:focus+label,
.form-group input:not(:placeholder-shown)+label {
  top: -0.5em;
  left: 0.5em;
  font-size: 0.85em;
  background: none;
  padding: 0 0.3em;
  font-weight: 600;
}

.btn {
  background: #000000;
  color: #ffffff;
  border: none;
  width: 140px;
  padding: 0.5em;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.2s, color 0.2s;
}

.btn:hover {
  background: #5e1111;
  color: #fff;
}

.btnremove {
  background: #000000;
  color: #ffffff;
  border: none;
  width: 140px;
  padding: 0.5em;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.2s, color 0.2s;
}

.btnremove:hover {
  background: #5e1111;
  color: #fff;
}

.movies-container {
  width: 450px;
  max-height: 600px;
  background: linear-gradient(to right, #a7a7a7, #f1f1f1);
  padding: 0.5rem 2rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 25px 0px 25px;
  border: 5px solid black;
  outline: 8px solid #f1f1f1;
  position: relative;
  box-shadow: 14px 6px 20px 10px #a7a7a77a;
}

.movies-list::-webkit-scrollbar {
  width: 10px;
  background: #2e0e0c;
  border-radius: 8px;
}

.movies-list::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 8px;
  border: 1px solid white;
}

.movies-list::-webkit-scrollbar-thumb:hover {
  background: #2e0e0c;
}

.movies-list::-webkit-scrollbar-track {
  background: white;
  border-radius: 8px;
}

.voltar {
  width: 100%;
  display: flex;

}

.movies-list {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  margin: 1em 0;
}

.movies-container a {
  text-decoration: none;
  color: #2e0e0c;
}

.movies-container a:hover {
  text-decoration: none;
  color: white;
}

.movies-container div {
  padding: 5px;
  margin: 5px;
}

.bold {
  font-weight: bold;
}

/* movie */
#movie-page {
  padding: 0em;
  box-shadow: 8px 8px 20px 10px #fcb14977;
}

#movie-page .container {
  text-align: center;
  width: 450px;
  background: linear-gradient(to right, #fcb249, #fdcb6c);
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 25px 0px 25px;
  border: 5px solid black;
  outline: 8px solid #fdcb6c;
  position: relative;
}

.action .btn {
  text-decoration: none;
  color: #5e1111;
}

.actions {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.actions a {
  margin-right: 1em;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
  display: flex;
  align-items: center;
}

.actions a:hover {
  color: #2e0e0c;
}

.btn-back {
  display: inline-block;
  margin-bottom: 1em;
  color: #fff;
  padding: 0.5em 1.2em;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.2s, color 0.2s;
  color: #5e1111;
}

.btn-back:hover {
  color: #5e1111;
}

.btn-back img {
  width: 28px;
  height: 28px;
}

.btn-back img:hover {
  color: #5e1111;
}